* {
  padding: 0;
  margin: 0;
}

body {
  color: var(--black);
  background-color: var(--white);
}

:root {
 --black : #342E37;
 --white : #FAFFFD;
 --blue : #3C91E6;
 --green : #9FD356;
 --orange : #FA824C;
 --black-full : #000;
 --white-full : #fff;
 --font1 : "PT Sans Caption";
 --font2 : "Roboto Mono";
}

 /* -- HEADER --  */

#header {
  background-color: var(--black);
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index:3;
}

#headerWeb {
  display: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 10px 0px;
}

#left-nav {
  background-color: var(--blue);
  text-align: center;
  width: 60px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#openclosenav {
  display: none;
}


#navmenu {
  background-color: var(--black);
  color: var(--white);
  height: 60vh;
  z-index: 2;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  font-size: 24px;
  position: relative;
}

.navbarsep {
  margin: 0 auto;
  width: 50%;
  height: 1px;
  background-color: var(--white);
}

#navmenu nav {
  width: 100%;
}

#navmenu a {
  text-decoration: none;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font1);
  padding: 10px;
}

#navmenu a:hover {
  background-color: var(--black-full);
  text-decoration: underline;
}

#closebtn {
  font-size: 46px; 
}

#navicon {
  color: white;
  font-size: 24px;
}

#logoheader {
  width: 50px;
}

#wpp {
  color: var(--green);
  font-size: 24px;
  padding-right: 20px;
}

 /* -- MAIN --  */

#main {
  margin-top: 50px;
  z-index: 1;
}

#part1 {
  position: relative;
}

#fotopredio {
  width: 100%;
  max-height: 300px;
}

#outdoor {
  background-color: var(--white);
  width: 100%;
  height: 120px;
  position: absolute;
  top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#mx {
  font-size: 36px;
  font-family: var(--font1);
  font-weight: normal;
  margin-bottom: 5px;
}

#consult {
  margin-top: 5px;
  font-family: var(--font2);
  font-size: 14px;
}

#linhalogo {
  width: 160px;
  height: 2px;
  background-color: var(--black);
}

 /* -- MAIN(PART 2) --  */

#part2 {
  text-align: center;
  font-family: var(--font1);
  font-size: 14px;
}

#part2 h1 {
  margin: 10px 0px;
}

#part2 h2 {
  font-size: 18px;
}

.fotop2 {
  border: 10px solid var(--blue);
  margin: 15px 0px;
}

#part2 p {
  margin: 5px 0px;
}

#b3-serv {
  margin-bottom: 20px;
}

 /* -- MAIN(PART 3) --  */

#part3 {
  background-image: url(assets/images/image\ 4.jpg);
  background-repeat: no-repeat;
  background-repeat: round;
  text-align: center;
  font-family: var(--font1);
  font-size: 14px;
  padding: 10px 0px;
}

#part3 h1 {
  margin: 20px 0px;
}

#container-ul {
  margin: 0 auto;
  width: 70%;
  text-align: start;
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 20px;
}

#cont-vantagens li {
  margin-bottom: 20px;
}

 /* -- MAIN(PART 4) --  */

#part4 {
  background-color: var(--green);
  text-align: center;
  font-family: var(--font1);
  font-size: 14px;
  padding: 10px 0px;
}

#part4 h1 {
  margin: 30px 0px;
}

#cont-empresas img {
  padding: 10px;
  margin-bottom: 20px;
}

 /* -- FORM --  */

#form {
  background-image: url(assets/images/fundoform3.jpg);
  background-repeat: no-repeat;
  background-repeat: round;
  text-align: center;
  font-family: var(--font1);
  font-size: 18px;
  padding: 10px 0px;
  width: 100%;
  height: 100%;
}

#form-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 5px;
}

#form h1 {
  color: var(--white);
  text-shadow: 2px 2px 3px var(--black-full);
  margin-bottom: 20px;
}

#form input {
  height: 24px;
  border: none;
  margin-bottom: 15px;
  padding: 5px;
  box-shadow: 1px 1px 2px var(--black-full);
}

#form select {
  margin-bottom: 15px;
  box-shadow: 1px 1px 2px var(--black-full);
}

#btn-enviarform {
  border: none;
  font: var(--font2);
  color: var(--white);
  background-color: var(--orange);
  padding: 10px;
  margin-top: 20px;
  box-shadow: 1px 1px 2px var(--black-full);
}

 /* -- FOOTER --  */

footer {
  text-align: center;
  background-color: var(--black);
  color: var(--white);
  font-family: var(--font1);
  font-weight: 300;
  padding: 20px;
}

#footer-title {
  font-size: 22px;
}

footer i {
  font-size: 36px;
  padding: 18px;
}

#footer-contato {
  font-size: 14px;
}

#footer2 {
  display: none;
}
@media (max-width: 320px) {
  footer i {
    padding: 10px;
  }
}
 /* -- WEB --  */

@media screen and (min-width: 768px) {
  #header {
    height: 70px;
  }

  #part2 p {
    font-size: 20px;
  }
  h1 {
    font-size: 36px;
  }
  #part2 h2 {
    font-size: 26px;
  }
  #cont-vantagens p {
    font-size: 22px;
  }

  #cont-empresas img {
    padding: 20px 40px;
    width: 100px;
  }
}

@media screen and (min-width: 1024px){
  #header {
    display: none;
  }
  #headerWeb {
    background-color: var(--black);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index:3;
  }
  .linkmenu {
    text-decoration: none;
    color: var(--white);
    font-family: var(--font1);
    font-size: 20px;
    padding: 15px 15px;
  }
  .linkmenu:hover {
    background-color: #2e2e2e;
  }
  #logo {
    margin-left: 40px;
  }
  #left-nav {
    width: 120px;
  }
  #navicon{
    font-size: 36px;
  }
  #wpp {
    font-size: 36px;
    margin-right: 10px;
  }
  #part1 {
    height: 500px;
  }
  #fotopredio {
    height: 100%;
    max-height: none;
  }
  #outdoor {
    height: 200px;
    top: 140px;
  }
  #mx {
    font-size: 64px;
  }
  #linhalogo {
    width: 300px;
  }
  #consult {
    font-size: 24px;
    margin-top: 20px;
  }
  #part2, #part3cont {
    padding: 30px 0px;
    width: 80%;
    margin: 0 auto;
  }
  #part2 h2 {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  #part3cont h1 {
    margin-bottom: 40px;
  }
  #cont-vantagens li {
    margin-bottom: 40px;
  }
  #cont-empresas {
    height: 300px;
  }
  #part4 h1 {
    margin-bottom: 60px;
  }
  #cont-empresas img {
    width: 150px;
  }
  #form h1 {
    font-size: 46px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  #form-content {
    width: 50%;
  }
  #form-content input {
    height: 40px;
  }
  #form-content select {
    height: 40px;
  }
  footer {
    display: none;
  }
  #footer2 {
    display: block;
  }
  #footer-title2 {
    font-size: 28px;
  }
  #footer-contato2 {
    font-size: 16px;
    margin-top: 5px;
  }
  #footer-icons2 {
    margin-bottom: -20px;
  }
}